<div class="container section">
  <ng-container *ngIf="(collectionCenter$ | async) as collectionCenter">
    <div class="center-align">
      <h5>Centro de acopio:</h5>
      <h5>{{ collectionCenter.name }}</h5>
      <br>
      <img class="circle responsive-img" [src]="collectionCenter.pic">
    </div>
    <br>
    <div class="row">
      <div class="card">
        <div class="card-content row">
          <div class="col s12 m6">
            <div class="row">
              <p class="col s5 m3">Nombre:</p>
              <p class="col s7 m7">{{ collectionCenter.name }}</p>
            </div>
            <div class="row">
              <p class="col s5 m3">Teléfono:</p>
              <p class="col s7 m7">{{ collectionCenter.phone }}</p>
            </div>
            <div class="row">
              <p class="col s5 m3">Celular:</p>
              <p class="col s7 m7">{{ collectionCenter.cellphone }}</p>
            </div>
          </div>
          <div class="col s12 m6">

          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
