<div class="container section">
  <ng-container *ngIf="(collectionCenter$ | async) as collectionCenter">
    <div class="center-align">
      <h5>Centro de acopio</h5>
      <h5>{{ collectionCenter.name }}</h5>
      <br>
      <img class="circle responsive-img"
        [src]="collectionCenter.pic ? collectionCenter.pic : 'assets/images/centroAcopio.png'">
    </div>
    <br>
    <div class="row">
      <div class="card">
        <div class="card-content row">
          <div class="col s12 m8">
            <div class="row">
              <p class="col s5 m3">Nombre:</p>
              <p class="col s7 m7">{{ collectionCenter.name }}</p>
            </div>
            <div class="row">
              <p class="col s5 m3">Contacto:</p>
              <p class="col s7 m7">{{ collectionCenter.contact }}</p>
            </div>
            <div class="row">
              <p class="col s5 m3">Teléfono:</p>
              <p class="col s7 m7">
                <a [href]="'tel:+5914' + collectionCenter.phone">
                  {{ collectionCenter.phone }}</a></p>
            </div>
            <div class="row">
              <p class="col s5 m3">Celular:</p>
              <p class="col s7 m7"><a
                  [href]="'tel:+591' + collectionCenter.cellphone">{{ collectionCenter.cellphone }}</a></p>
            </div>
            <div class="row">
              <p class="col s5 m3">Dirección:</p>
              <p class="col s7 m7"><a
                  [href]="'https://www.google.com/maps/search/?api=1&query=' + collectionCenter.position.lat + ',' + collectionCenter.position.lng + '&zoom=20'"
                  target="_blank" rel="noopener noreferrer">{{ collectionCenter.address }}</a></p>
            </div>
            <div class="row">
              <p class="col s5 m3">Zona:</p>
              <p class="col s7 m7">{{ collectionCenter.zone }}</p>
            </div>
            <div class="row">
              <p class="col s5 m3">Recompensa:</p>
              <p class="col s7 m7">{{ collectionCenter.data }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
