<div class="container section">
  <ng-container *ngIf="(ant$ | async) as ant">
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12 m6">
            <input [(ngModel)]="name" id="name" name="name" type="text">
            <label for="name">Nombre</label>
          </div>
          <div class="input-field col s12 m6">
            <input [(ngModel)]="address" id="address" name="address" type="text">
            <label for="address">Dirección</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <select pachaSelect [(ngModel)]="trashType" name="trashType">
              <option value="" disabled selected>Tipo de basura</option>
              <option value="Botellas">Botellas</option>
              <option value="Latas de Cerveza">Latas de Cerveza</option>
              <option value="Periódicos">Periódicos</option>
              <option value="Varios">Varios</option>
            </select>
          </div>
          <div class="input-field col s6">
            <select pachaSelect [(ngModel)]="trashQuantity" name="trashQuantity">
              <option value="" disabled selected>Cantidad aprox.</option>
              <option value="1-5 Kg">1-5 Kg</option>
              <option value="5-10 Kg">5-10 Kg</option>
              <option value="10 Kg o más">10 Kg o más</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input #dayDatepicker=datepickerDirective pachaDatepicker id="day" type="text" class="datepicker" name="day"
              (datepickerClose)="setDay(dayDatepicker.datepickerInstance.date)">
            <label for="day">Día</label>
          </div>
          <div class="input-field col s6">
            <input #hourTimepicker=timepickerDirective pachaTimepicker id="hour" type="text" class="timepicker"
              name="hour" (timepickerClose)="hour = hourTimepicker.timepickerInstance.time">
            <label for="hour">Hora</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="cellphone" type="number" [(ngModel)]="cellphone" name="cellphone">
            <label for="cellphone">Celular</label>
          </div>
        </div>
      </form>
      <div class="row center-align">
        <button (click)="contactAnt(ant)" class="btn btn-large waves-effect waves-light"
          name="action">Contactar</button>
      </div>
    </div>
  </ng-container>
</div>
