<agm-map class="pacha-map" [latitude]="lat" [longitude]="lng" [zoom]="zoom" [styles]="styles"
  (mapReady)="addLocationElement($event)">
  <agm-marker [latitude]="lat" [longitude]="lng" iconUrl="assets/images/current-human-location.png">
  </agm-marker>

  <agm-marker *ngFor="let item of items" [latitude]="item.position.lat" [longitude]="item.position.lng">
    <agm-info-window>
      <a (click)="triggerItemAction.emit(item)">
        {{ item.name }}
      </a>
    </agm-info-window>
  </agm-marker>

  <div #locationElement>
    <a id="location-button" (click)="centerMapOnCurrentUserLocation()">
      <img src="assets/images/my-location-2x.png">
    </a>
  </div>
</agm-map>
