<header>
  <nav>
    <div class="nav-wrapper">
      <a routerLink="/" class="brand-logo">
        <img id="pacha-logotype" src="assets/images/logo.svg" alt="Munay Pacha">
      </a>
      <a data-target="mobile-menu" class="sidenav-trigger">
        <i class="fas fa-bars"></i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="/">Inicio</a></li>
        <li><a routerLink="/">Buscar basura</a></li>
        <li><a routerLink="/">Contactar Hormiguita</a></li>
        <li><a routerLink="/">¿Dónde llevar mi basura?</a></li>
        <li><a routerLink="/">Centros de acopio</a></li>
      </ul>
    </div>
  </nav>
  <ul pachaSidenav class="sidenav" id="mobile-menu">
    <li><a routerLink="/" class="sidenav-close">Inicio</a></li>
    <li><a routerLink="/" class="sidenav-close">Buscar basura</a></li>
    <li><a routerLink="/" class="sidenav-close">Contactar Hormiguita</a></li>
    <li><a routerLink="/" class="sidenav-close">¿Dónde llevar mi basura?</a></li>
    <li><a routerLink="/" class="sidenav-close">Centros de acopio</a></li>
  </ul>
</header>
